@page "/exchange/{Id:guid}"
@using BlockDudes.Services
@using BlockDudes.Models
@using Microsoft.AspNetCore.Components.Services;
@inject AssetService AssetService
@inject IAccountsService AccountsService
@inject IUriHelper uriHelper

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ImageView Class="card-img-top" Url="@viewModel.Link" />
                    <div class="card-body">
                        <h5 class="card-title">@viewModel.Title</h5>
                        <p class="card-text">@viewModel.Description</p>
                        <div class="form-group">
                            <select class="form-control" bind="@AssetForExchange">
                                <option value="default"></option>
                                @foreach (var asset in availableAssets)
                                {
                                    <option value="@asset.Id.ToString()">@asset.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" onclick="@ExchangeAssetAsync">Exchange</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    [Parameter]
    public Guid Id { get; set; }

    private string AssetForExchange { get; set; } = "default";

    private AssetViewModel viewModel = new AssetViewModel();

    private List<AssetViewModel> availableAssets = new List<AssetViewModel>();

    protected override async Task OnInitAsync()
    {
        var currentAccount = AccountsService.GetCurrentAccount();
        var allModels = await AssetService.GetAll();

        availableAssets = allModels.Where(
            asset => asset.Address != currentAccount.Address).ToList();
        viewModel = allModels
            .First(it => it.Id == Id);
    }

    private async Task ExchangeAssetAsync()
    {
        Guid asset;
        if (AssetForExchange != null && Guid.TryParse(AssetForExchange, out asset))
        {
            var selectedModel = availableAssets.First(c => c.Id == asset);
            await AccountsService.ExchangeAssetsAsync(viewModel.Address, selectedModel.Token, viewModel.Token);

            uriHelper.NavigateTo("/marketplace");
        }
    }
}
