@page "/exchange/{Id:guid}"
@using BlockDudes.Services
@using BlockDudes.Models
@inject AssetService AssetService

<h1>Asset @Id!</h1>

<div>
    <label>Title: </label>
    <input bind="@editModel.Title" />
</div>

<div>
    <label>Description: </label>
    <input bind="@editModel.Description" />
</div>

<div>
    @if (viewModel.Image != null)
    {
        <ImageView Url="@viewModel.Image.StringRepresentation" Width="400" Height="400" />
    }
</div>

<div>
    <button disabled="@(!editModel.IsChanged)" onclick="@OnSubmitButtonClick">Submit changes</button>
</div>

@functions {
    [Parameter]
    public Guid Id { get; set; }

    private AssetEditModel editModel;
    private AssetViewModel viewModel;

    protected override void OnInit()
    {
        viewModel = AssetService.GetAll()
            .First(it => it.Id == Id);
        editModel = AssetEditModel.CreateFromViewModel(viewModel);
    }

    private void OnSubmitButtonClick()
    {
        editModel.SetViewModelFields(viewModel);
        editModel.IsChanged = false;
    }
}