@page "/keys"
@using BlockDudes.Services
@using Nethereum.Web3.Accounts
@using Nethereum.Hex.HexTypes
@using BlockDudes.Models
@using Nethereum.Web3;
@inject IAccountsService AccountService

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Private key: </label>
        <InputText id="name" bind-Value="@exampleModel.PrivateKey" />
    </div>

    <div>
        <label>Address: </label>
        <InputText id="name" bind-Value="@exampleModel.Address" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

<div>@balance</div>

@functions {
    private KeysModel exampleModel = new KeysModel();
    decimal balance;

    public void HandleValidSubmit()
    {
        balance = AccountService.GetAccountEtherBalanceAsync(exampleModel.PrivateKey);
    }
}